form{
    max-width: 600px;
    margin: 60px auto;
    background-color: #000000ba;
    padding: 30px;
    color: #10baf6;
    border-radius: 50px;
    text-align: center;
    animation: scale .5s ease-in-out 0s 1 alternate;
}

form h1{
    margin: 20px 20px 60px;
}

form .form-item{
    margin: 30px auto;
    width: 80%;
    position: relative;
}

form .form-item .input-field{
    width: 100%;
    padding: 10px 30px;
    background-color: #68d1fe38;
    color: #10baf6;
    border-radius: 25px;
    border: 1px solid #10baf6;
}

form .form-item .alert{
    width: 50%;
    display: none;
    padding: 7px;
    border-radius: 25px;
}
form #submit_div{
    width: 40%;
    margin: 40px auto 20px;
}

form .submit{
    width: 100%;
    padding: 10px;
    display: block;
    background-color: #10baf6;
    border-radius: 20px;
    color: #003c57;
    transition: all .5s ease-in-out;
}

form .submit:hover{
    background-color: #0596ca;
    color: #03045E;
}

/* alert in validation */
span.alert{
    text-align: center;
    width: 50%;
    padding: 5px 10px;
    margin-right: 45%;
    display: none;
}

/* stars in input fields */
form .form-item .star {
    position: absolute;
    top: 12px;
    right: 8px;
    color: #d00;
    font-size: 1.25em;
}

form .form-item .show-password{
    height: 0;
    display: none;
    position: absolute;
    top: 16px;
    right: 23px;
    color: #10baf6;
}

form .form-item .show-password-active{
    display: inline !important;
    cursor: pointer;
}

/* icons of input fields */
form .form-item input:not([type='submit']) + i:not(.show-password), form .form-item textarea + i {
    height: 0;
    position: absolute;
    top: 15px;
    left: 6px;
    color: #10baf6;
}

/* signup link in signin page */
.signup-link{
    color: #66d7ff;
    transition: all .5s ease-in-out;
}

.signup-link:hover{
    color: #ade9ff;
}

/* placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #10baf6;
    opacity: .7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #10baf6;
    opacity: .7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #10baf6;
    opacity: .7;
}

@keyframes scale {
    from {transform: scale(0);}
    to {transform: scale(1);}
}